/* .hotelContainer{
    width: 96%;
    height: 600px;
   
    gap: 0px;
    border-radius: 11px 0px 0px 0px;

    background: #FFFFFF;
    border: 1.32px solid #DDDDDD

     
}


.premierInput{
    width: 40%;
height: 91px;

margin: 3%;
}
.cap{
    width: 80%;
height: 40%;

border-radius: 14px ;



} */