
.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40vh;
    background:#45484B ;




}
.logo{
color: white;
padding: 2% 2%;
display: flex;
}
.logo .icon{
    font-size: 1.4rem;
}
.menu-list{
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.menu-list .item{
    display: flex;
    align-items: center;

    font-size: 1.1rem;
    text-decoration: none;

font-weight: 600;
padding: 2% 2%;
border-radius: 10%;
transition: 0.3s ease-in-out;
}
.principale{
    font-family: Roboto;
font-size: 1rem;
font-weight: 400;

text-align: left;
color: #ffffff;
margin-left: 2%;
}
.red{
    font-family: Roboto;
font-weight: 700;
line-height: 21.33px;
text-align: left;
margin-left: 1%;

}
.menu-list p{
    margin-left: 1%;
}


.Mouhamed{
    width: 341px;
height: 86.51px;
margin-top: 18rem;
padding-left: 1%;



}
.imageMouhamed{
    width: 13%;
height: 13%;



}
.textMouhamed{

    margin-left: 5%;
   margin-top: 2%;
    color: #ffffff;
    

}
.textMouhamed span{
    font-family: Roboto;
    font-size: 10px;

    margin-left: 2%;
    
}
.textMouhamed h5{
    font-size: 14px;
}
/* .menu-list .item:hover{
    background-color: #ffffff;
    color: blue;
   height: 30%;
} */
.item:active,
.item:focus,
.item.active-link {
  background-color: white; /* Changement de couleur de fond lorsque le lien est activé ou en focus */
  color: #45484B;/* Changement de couleur du texte lorsque le lien est activé ou en focus */
}
